<?xml version="1.0" encoding="utf-8" ?>
<!-- Documentation https://learn.microsoft.com/en-us/ef/ef6/fundamentals/configuring/config-file -->

<configuration>
	<system.web>
		
	</system.web>
	
	<entityFramework>
		
		<contexts>
			<context type="API_Platform_Library.DAL.ApplicationContext, API_Platform_Library">
				<databaseInitializer type="API_Platform_Library.DAL.ApplicationInitializer, API_Platform_Library" />
			</context>
		</contexts>
		
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0" />
			</parameters>
		</defaultConnectionFactory>
		
		<!--Registers default SQL Server provider-->
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<!-- Bare Bones logging a level above this repository -->
	<interceptors>
		<interceptor type="System.Data.Entity.Infrastructure.Interception.DatabaseLogger, EntityFramework">
			<parameters>
				<parameter value="C:\Local Dev\API Platform Log.txt"/>
				<parameter value="true" type="System.Boolean"/>
			</parameters>
		</interceptor>
	</interceptors>
</configuration>